<!doctype html>
<head>
<title>Panda: Sentimental E-Commerce</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="http://fgnass.github.io/spin.js/spin.js"></script>
  <script type=text/javascript>
    $root_url = {{ request.base_url|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='js/panda.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
  <div>
    <h1> Panda </h1>
  </div>
  <div>
    <input id='search' type="text"/>
    <input type="button" value="Search" onclick="search()"/>
  </div>
  <div id='not-found' style="display:none">
    <h1>We don't support this item yet. Request us to add this soon</h1>
  <div>
</body>
</html>